PORT=4000
DATABASE_URL="postgresql://neondb_owner:npg_xexample@ep-example-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_xexample@ep-example.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="artevia_super_secret_jwt_key_2026_change_in_production"
ADMIN_EMAIL="olimaym18@gmail.com"
# Optional SMTP Configuration for email notifications:
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT=587
# SMTP_USER="your-email@gmail.com"
# SMTP_PASS="your-app-password"
CLOUDINARY_CLOUD_NAME="artevia"
CLOUDINARY_API_KEY="1234567890"
CLOUDINARY_API_SECRET="cloudinary_secret_key"

